<div class="content-container">

    <img src="assets/images/coffee.jpg" alt="Coffee">
    <button type="button" class="btn btn-primary" (click)="loadFavouriteFoods()">Favourite Foods</button>
    <button type="button" class="btn btn-primary" (click)="loadFavouritePlaces()">Favourite Places</button>

    <h1>Hi! I'm Julie</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolore totam deleniti officia soluta placeat porro
        vero
        quibusdam, in aliquam libero. Qui consectetur aut commodi. ipsum dolor sit amet consectetur adipisicing elit.
        Cum
        alias veniam doloribus quis velit est, vel error voluptate architecto vero beatae dolorem laboriosam blanditiis
        eveniet nemo assumenda, aut aperiam nihil.</p>
    <h2>Most favourite food</h2>
    <ol>
        <li>Kacchi biriyani</li>
        <li>Biriyani</li>
        <li>Fuchka</li>
    </ol>
    <h2>Places I want to visit</h2>
    <ul>
        <li>Sajek</li>
        <li>Saint Martin</li>
        <li>Bandorban</li>
    </ul>
    <!--a href="https://www.google.com">Read more</a-->
    <!--contact us on<a href="ummejannatunnesajulie@gmail.com">ummejannatunnesajulie.com</a-->
    <h2>Explore My Services</h2>
    <table>
        <thead>
            <tr>
                <th>Serial</th>
                <th>Service name</th>
                <th>Dsecription</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>web development</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui quasi facere consequatur numquam totam
                    dolores
                    amet placeat nostrum quibusdam. Dolor velit veniam accusamus recusandae cupiditate voluptate, nisi
                    sed sapiente
                    repudiandae!</td>
                <td>$500</td>
            </tr>
            <tr>
                <td>2</td>
                <td>App development</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui quasi facere consequatur numquam totam
                    dolores
                    amet placeat nostrum quibusdam. Dolor velit veniam accusamus recusandae cupiditate voluptate, nisi
                    sed sapiente
                    repudiandae!</td>
                <td>$400</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Social media design</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui quasi facere consequatur numquam totam
                    dolores
                    amet placeat nostrum quibusdam. Dolor velit veniam accusamus recusandae cupiditate voluptate, nisi
                    sed sapiente
                    repudiandae!</td>
                <td>$150</td>
            </tr>
            <tr>
                <td>4</td>
                <td>SEO</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui quasi facere consequatur numquam totam
                    dolores
                    amet placeat nostrum quibusdam. Dolor velit veniam accusamus recusandae cupiditate voluptate, nisi
                    sed sapiente
                    repudiandae!</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>5</td>
                <td>UI/UX</td>
                <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui quasi facere consequatur numquam totam
                    dolores
                    amet placeat nostrum quibusdam. Dolor velit veniam accusamus recusandae cupiditate voluptate, nisi
                    sed sapiente
                    repudiandae!</td>
                <td>$300</td>
            </tr>
        </tbody>
    </table>
    <h3>Contact Form</h3>
    <form>
        <label for="Fullname">Enter Fullname</label>
        <input type="text" name="Fullname">
        <br>
        <br>
        <label for="email">Enter email</label>
        <input type="email" name="email">
        <br>
        <br>
        <label for="Gender">Enter your gender</label>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <br>
        <label for="message">Enter your message</label>
        <textarea name="message" rows="5"></textarea>
        <br>
        <br>
        <input type="Submit">

    </form>
</div>