<title>This is my biodata</title>
<h1> This is about kdrama</h1>
<h2>lovely runner</h2>
<h3>crash landing on you</h3>
<h4>Goblin</h4>
<h5>reply 1988</h5>
<h6>twenty five twenty one</h6>
<p>I love watching kdramas</p>
<p>Hello<br/>
  Here i have talked about my hobby about watching dramas<br/>
  Thanks for listening<br/>
  from julie</p>
  <center>
    <p>Now time to say about my another hobby</p>
  </center>
  <p>That is gardening which i used to love a lot when i was in ctg</p>
  <hr/>
  <p>Third one is reading detactive books</p>
  <div>
    <span>choose u r fav book</span>
    <input type="checkbox" placeholder="book" value="FELUDA"
  </div>
  <br>
  <a
  href="https://www.w3schools.com/">
visit w3schools.com!</a>
<br>
<button type="button">start up
</button>
<br>
<head>
  <style>
    h1 {color: red;}
    p{color: blue;}
  </style>
</head>


